<!DOCTYPE html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
	<meta name="google-site-verification" content="XbKK4jaBvDici5Gaz-yJvIJAdS9mwLfkW_wGkbIb_5w" />
	<!-- Symmetry 4.9.1 -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta name="theme-color" content="{{ settings.btn_col }}">

	{% if settings.favicon != blank and settings.favicon contains '.png' %}
	<link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/png" />
	{% elsif settings.favicon != blank and settings.favicon contains '.ico' %}
	<link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/x-icon" />
	{% endif %}

	<title>
		{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>
	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}" />
	{% endif %}
	<link rel="canonical" href="{{ canonical_url }}" />

	{% include 'social-meta-tags' %}

	{{ 'styles.scss.css' | asset_url | stylesheet_tag }}

	{{ 'https://code.jquery.com/jquery-3.3.1.min.js' | script_tag }}
	
	<script>
		window.theme = window.theme || {};
		theme.jQuery = jQuery;
		theme.money_format = {{ shop.money_format | json }};
		theme.strings = {
			previous: {{ 'general.accessibility_labels.previous' | t | json }},
			next: {{ 'general.accessibility_labels.next' | t | json }},
			addressError: {{ 'map.errors.address_error' | t | json }},
			addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
			addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
			authError: {{ 'map.errors.auth_error_html' | t | json }},
			icon_labels_left: {{ 'general.icon_labels.left' | t | escape | json }},
			icon_labels_right: {{ 'general.icon_labels.right' | t | escape | json }},
			icon_labels_down: {{ 'general.icon_labels.down' | t | escape | json }},
			icon_labels_close: {{ 'general.icon_labels.close' | t | escape | json }},
			cart_terms_confirmation: {{ 'cart.terms.confirmation' | t | json }},
			products_listing_from: {{ 'products.listing.from' | t | json }},
			layout_live_search_see_all: {{ 'layout.live_search.see_all' | t | json }},
			products_variant_non_existent: {{ 'products.variant.non_existent' | t | json }},
			products_product_add_to_cart: {{ 'products.product.add_to_cart' | t | json }},
			products_variant_no_stock: {{ 'products.variant.no_stock' | t | json }},
			products_variant_non_existent: {{ 'products.variant.non_existent' | t | json }},
			products_variant_unit_price_separator: {{ 'products.variant.unit_price_separator' | t | json }},
			general_navigation_menu_toggle_aria_label: {{ 'general.navigation.menu_toggle_aria_label' | t | json }},
			products_added_notification_title: {{ 'products.added_notification.title' | t | json }},
			products_added_notification_item: {{ 'products.added_notification.item' | t | json }},
			products_added_notification_quantity: {{ 'products.added_notification.quantity' | t | json }},
			products_added_notification_unit_price: {{ 'products.added_notification.unit_price' | t | json }},
			products_added_notification_quantity: {{ 'products.added_notification.quantity' | t | json }},
			products_added_notification_total_price: {{ 'products.added_notification.total_price' | t | json }},
			products_added_notification_subtotal: {{ 'products.added_notification.subtotal' | t | json }},
			products_added_notification_shipping_note: {{ 'products.added_notification.shipping_note' | t | json }},
			products_added_notification_keep_shopping: {{ 'products.added_notification.keep_shopping' | t | json }},
			products_added_notification_cart: {{ 'products.added_notification.cart' | t | json }},
			products_product_adding_to_cart: {{ 'products.product.adding_to_cart' | t | json }},
			products_product_added_to_cart: {{ 'products.product.added_to_cart' | t | json }},
			products_added_notification_subtotal: {{ 'products.added_notification.subtotal' | t | json }}
		};
		theme.routes = {
			search_url: '{{ routes.search_url }}',
			cart_url: '{{ routes.cart_url }}',
			cart_add_url: '{{ routes.cart_add_url }}',
			cart_change_url: '{{ routes.cart_change_url }}'
		};
		document.documentElement.className = document.documentElement.className.replace('no-js', '');
	</script>
	{{ content_for_header }}
{% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
{% include 'hulkcode_common' %}
{% if template contains 'product' or template contains 'cart' %}
	<script src='https://productoption.hulkapps.com/hulkcode.js' defer='defer'></script>
{% endif %}
</head>

<body class="template-{{ template | split: '.' | first }}">
	<a class="skip-link visually-hidden" href="#content">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>

	{% section 'header' %}

	<main id="content" role="main">
		<div class="container cf">

			{{ content_for_layout }}

		</div><!-- /.container -->
	</main><!-- /#content -->

	<div id="pagefooter">
		{% section 'cross-page-promos' %}

		{% section 'footer' %}
	</div><!-- /#pagefooter -->

	
	
	{{ 'vendor.js'  | asset_url | script_tag }}
	{{ 'theme.js'  | asset_url | script_tag }}


{% include 'gtranslate', float: 'yes' %}

</body>
</html>
